* {
    box-sizing: border-box;
}

.container {
    max-width: 320px;
    margin: 0 auto;
}

#form {
    padding: 20px;
}

#inputs {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

input.error {
    border-color: #dc3545;
}

input.error:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}

input.success {
    border-color: #28a745;
}

input.success:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.25);
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}